@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("//db.onlinewebfonts.com/c/6b6170fe52fb23f505b4e056fefd2679?family=Pacifico");
@import url("//db.onlinewebfonts.com/c/c18b9353b189d8e62455b8b5a8587321?family=Chapaza");

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.theMainBox {
  margin: 0 6%;
  padding: 12px;
}
.my-nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d00;
  position: relative;
}

.my-nav > .my-nav-header {
  display: inline;
}

.my-nav > .my-nav-header > .my-nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.my-nav > .my-nav-btn {
  display: none;
}

.my-nav > .my-nav-links {
  display: inline;
  font-size: 18px;
}

.my-nav-links .formBtn {
  float: right;
}

.my-nav > .my-nav-links > a {
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  color: #100075;
}

.my-nav > #my-nav-check {
  display: none;
}

#bigWrapper {
  background: linear-gradient(-45deg, #d0eaff, #f1f8fe, #c4e7fc, #f6fbff);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.signUp {
  background-color: #100075;
  color: white;
  font-weight: 400;
  border-radius: 8px;
  padding: 10px 30px;
  border: none;
  font-size: 15px;
  box-shadow: 2px 3px 10px #0000004d;
}
.tryNow {
  padding: 14px 45px;
  background-color: #000d83;
}
.signIn {
  background-color: #414ba500;
  border: 0.1px solid #000d8300;
  border-radius: 8px;
  padding: 10px 30px;
  color: #100075;
  font-weight: 500;
  font-size: 15px;
}
.signIn:hover {
  border: 0.1px solid #000d83;
}
.navLinks {
  color: #100075;
  font-weight: 500;
}
#theLogo {
  margin-left: 30%;
}

/* ####### MAIN SECTION ######## */
#mainImage {
  margin-left: -165px;
}
.myFloaters {
  margin-left: 60px;
}
.leftColumn {
  padding-top: 150px;
}
.rightColumn {
  margin-bottom: -392px;
}
.handWritten {
  font-family: "Pacifico";
  color: #fc6363;
  font-size: 20px;
}
.fingertips {
  font-family: "Verona-DemiBold";
  font-size: 45px;
  color: #100075;
  position: relative;
  z-index: 2;
  padding-top: 30px;
}
#brushStroke {
  z-index: 0;
  position: relative;
  bottom: 22px;
  left: 194px;
}
.quoraDef {
  font-family: "Readex Pro";
  font-size: 18px;
  color: #414ba5;
}
#playIcon {
  background-color: #ffffff;
  border: 0.1px solid #000d8300;
  border-radius: 100px;
  padding: 10px;
  margin-left: 25px;
  box-shadow: 2px 2px 11px #00000015;
}
#playIcon:hover {
  border: 0.1px solid #000d8361;
  cursor: pointer;
}
.playVideo {
  margin-left: 20px;
}
.graph {
  background-color: #f9f9f9;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  opacity: 0.9;
  position: relative;
  bottom: 220px;
  left: -109px;
  box-shadow: -7px 10px 12px #0000001c;
  padding: 10px;
}
.graph p {
  text-align: center;
  font-weight: 500;
  color: #414ba5;
}
.graph img {
  padding-bottom: 10px;
}

.artMedia {
  background-color: #f9f9f9;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  opacity: 0.9;
  position: relative;
  bottom: 309px;
  left: 282px;
  box-shadow: -7px 10px 12px #0000001c;
  padding: 10px;
}

.artMedia img {
  background-color: #c9e8fb;
  border: 2px solid #0d0541;
  border-radius: 100px;
  float: left;
  margin-right: 20px;
}

.artMedia p {
  font-size: 15px;
  font-weight: 500;
  color: #414ba5;
}
.artMedia #time {
  font-size: 10px;
  margin-top: -12px;
  text-align: left;
  color: gray;
}

.congra {
  background-color: #f9f9f9;
  width: 220px;
  height: 70px;
  border-radius: 10px;
  opacity: 0.9;
  position: relative;
  bottom: 587px;
  left: 309px;
  box-shadow: -7px 10px 12px #0000001c;
  padding: 10px;
}

.congra .mailIcon {
  float: left;
}

.congra p {
  font-size: 15px;
  font-weight: 500;
  color: #41c850;
}
.congra #status {
  font-size: 13px;
  margin-top: -12px;
  text-align: left;
  color: #100075;
}
.sideContent {
  margin-left: 35px;
}

.myCalendar {
  background-color: #f4f4f4;
  width: 230px;
  height: 62px;
  border-radius: 10px;
  opacity: 0.9;
  position: relative;
  bottom: 716px;
  left: -31px;
  box-shadow: -7px 10px 12px #0000001c;
  padding: 10px;
}
.myCalendar img {
  background-color: #3cc1fe;
  border-radius: 10px;
  padding: 10px;
  float: left;
  margin-right: 20px;
}

.myCalendar p {
  font-size: 15px;
  font-weight: 800;
  color: #100075;
}
.myCalendar #title {
  font-size: 13px;
  margin-top: -15px;
  text-align: left;
  color: #100075;
  font-weight: 500;
}
.bars {
  position: relative;
  bottom: 852px;
  left: 405px;
}

.coursesSec {
  background-color: white;
  border-radius: 10px 0 0 10px;
  padding: 30px;
  width: 100%;
  box-shadow: -7px 10px 12px #0000001c;
  margin-left: 120px;
  margin-bottom: 100px;
}
.coursesSec h2 {
  font-family: "Readex Pro";
  font-weight: 600;
  color: #100075;
  margin-top: 10px;
}
.innerCourses {
  display: flex;
  flex-direction: row;
}
.courseIcons img {
  margin: 25px 0 0 70px;
}

/* ####### POPULAR COURSES SEC ######## */
.PopCorOne {
  text-align: center;
  margin-bottom: 100px;
}
.PopCorOne h2 {
  text-align: center;
  font-family: "Verona-DemiBold";
  color: #100075;
  margin-bottom: 50px;
}
.myCard {
  text-align: center;
  display: inline-block;
  height: 210px;
  width: 200px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: -1px 1px 1px #0000004c;
  margin-right: 20px;
  color: #000d83;
}
.myCard .theicon {
  margin: auto;
  background-color: white;
  border-radius: 100px;
  width: 50px;
  margin-bottom: 30px;
  box-shadow: -4px 6px 20px #0000001c;
}
.myCard:hover {
  background: #000d83;
  color: #ffffff;
  cursor: pointer;
}
.myCard img {
  padding: 10px;
}
.myCard h3 {
  font-size: 20px;
}

.PopCorTwo .pctDiv {
  background-color: white;
  border-radius: 10px;
}

.desCou {
  display: flex;
  flex-direction: row;
  width: 450px;
  box-shadow: -7px 10px 12px #0000001c;
}
.desCou .side {
  margin-top: 10px;
  font-family: "Readex Pro";
}
.desCou .time {
  float: right;
  margin: -25px 0 0 82px;
}
.desCou img {
  border-radius: 100px;
  margin: 20px 30px;
}
.couPer {
  width: 400px;
  padding: 20px 0 20px 40px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  left: 96px;
}
.couPer h3 {
  margin: 0 0 20px 0;
}
.desInstr {
  width: 250px;
  padding-bottom: 20px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  top: -74px;
  opacity: 0.9;
}
.desInstr .innerBox {
  text-align: center;
}
.innerBox img {
  border-radius: 100px;
}
.innerBox .rating {
  font-size: 5px;
}
.desInstr .active {
  font-size: 12px;
  font-family: "Readex Pro";
  padding: 2px 10px;
  color: #1cc9cb;
  background-color: #bcf4f5;
  border-radius: 40px;
  margin: 10px 0 10px 20px;
}

.enrStu {
  text-align: center;
  width: 220px;
  padding-bottom: 10px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  top: -210px;
  left: 401px;
}
.enrStu .rowImg img {
  border-radius: 100px;
  border: 2px solid white;
  margin: 0 0 0 -15px;
}

#pieIcon {
  border-radius: 10px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  top: -547px;
  left: 480px;
}

.PopCorTwo h2 {
  font-family: "Verona-DemiBold";
  color: #100075;
  margin-bottom: 50px;
  padding: 0 200px 0 0;
}
.PopCorTwo #colTwo p {
  padding: 0 150px 30px 0;
  font-size: 18px;
  color: #000d83;
  font-family: "Readex Pro";
}
#colTwo {
  margin: 70px 0 0 0;
  position: relative;
  left: 50px;
}

/* ####### PERSONALIZED JOURNEY SECTION ##### */
.PerJou {
  margin: 0 -9%;
  padding: 100px 108px 100px 108px;
  background-color: #d0eaff;
}
.PerJou h2 {
  font-family: "Verona-DemiBold";
  color: #100075;
}
.PerJou h3 {
  font-family: "Readex Pro";
  font-size: 18px;
  font-weight: 600;
  color: #100075;
}
.PerJou p {
  font-family: "Readex Pro";
  font-size: 14px;
  color: #414ba5;
  padding: 0 121px 0 0;
}
.PerJou .dot {
  font-size: 35px;
  color: #1cc9cb;
}
#brushStrokeTwo {
  margin: -114px 0 0 194px;
}

#rightColPara {
  font-size: 16px;
}

#videoFrame {
  border-radius: 10px;
  border: 4px solid white;
  box-shadow: -7px 10px 12px #0000001c;
}

/* ####### IMPROVEMENT SECTION ########## */
.ImprSec {
  margin: 100px 0 -150px 0;
}
.ImprSec #colTwoRight p {
  padding: 0 150px 30px 0;
  font-size: 18px;
  color: #000d83;
  font-family: "Readex Pro";
}
.ImprSec h2 {
  font-family: "Verona-DemiBold";
  color: #100075;
  margin-bottom: 50px;
  padding: 0 200px 0 0;
}
#colOneLeft {
  margin: 70px 0 0 0;
}
#colTwoRight {
  margin: 70px 0 0 0;
  position: relative;
  left: 50px;
}
.myCalendarTwo {
  background-color: white;
  width: 230px;
  height: 62px;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -7px 10px 12px #0000001c;
  padding: 10px;
}
.myCalendarTwo img {
  background-color: #3cc1fe;
  border-radius: 10px;
  padding: 10px;
  float: left;
  margin-right: 20px;
}

.myCalendarTwo p {
  font-size: 15px;
  font-weight: 800;
  color: #100075;
}
.myCalendarTwo #titleTwo {
  font-size: 13px;
  margin-top: -15px;
  text-align: left;
  color: #100075;
  font-weight: 500;
}

.GaugeBox {
  width: 150px;
  padding: 10px 0 5px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  top: -380px;
  left: 383px;
}
.GaugeBox img {
  margin-bottom: 10px;
}
.WeeklyHours {
  width: 400px;
  padding: 10px 0 20px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px 10px 12px #0000001c;
  margin-left: 82px;
}

.OngCou {
  width: 300px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px 10px 12px #0000001c;
  position: relative;
  top: -248px;
  opacity: 0.9;
}
.progressOne {
  margin-bottom: 20px;
}
.OngCou img {
  float: left;
  margin-right: 20px;
  border-radius: 10px;
}
.OngCou span {
  color: #414ba5;
  font-size: 12px;
  font-weight: 600;
}
.OngCou #calnder {
  box-shadow: -7px 10px 12px #0000001c;
  border-radius: 20px;
  position: relative;
  top: -77px;
  left: 432px;
}
.StuFee h2 {
  font-family: "Verona-DemiBold";
  color: #100075;
}
.StuFee .stuFeeLeftCol img {
  margin-top: -40px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* ######## STUDENT FEEDBACK ######## */
.StuFee {
  margin: 0 -9%;
  padding: 100px 108px 100px 108px;
  background-color: #d0eaff;
}

/* ######### JOIN US SECTION ########### */
.JoinUs {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 200px;
}
.JoinUsHead h2 {
  font-family: "Verona-DemiBold";
  color: #100075;
}
.JoinUsHead .joinUsP {
  font-family: "Readex Pro";
  font-size: 20px;
  color: #414ba5;
  padding: 20px 350px 20px 350px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 20px 0 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggleLabel {
  color: #414ba5;
  font-size: 18px;
  font-weight: 600;
  font-family: "Readex Pro";
}
.pricePlanCards {
  margin-top: 50px;
}
.pricePlanCards .theCard {
  text-align: center;
  display: inline-block;
  height: auto;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 1px 1px #0000004c;
  margin-right: 20px;
  color: #000d83;
  padding: 40px 40px;
  font-family: "Readex Pro";
}
.theCard h3 {
  font-weight: 600;
}
.theCard p {
  text-align-last: left;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.firstCard button {
  background-color: white;
  color: #414ba5;
  padding: 10px 20px;
  font-family: "Readex Pro";
  font-weight: 400;
  border: 1px solid #414ba5;
  box-shadow: none;
}
.secondCard button {
  padding: 10px 20px;
}

.pricePlanCards .checkS {
  margin-top: -5px;
}

/* ####### FOOTER ####### */
footer {
  background-color: #0d0541;
  color: white;
  padding: 80px 0 80px 0;
}
.firstCol p {
  font-weight: 600;
  font-size: 14px;
}
#ftrBox h2 {
  font-family: Chapaza;
}
#ftrBox h5 {
  font-family: Verona-DemiBold;
}
#ftrBox p {
  font-family: "Readex Pro";
  font-weight: 200;
  font-size: 12px;
  padding: 8px 0;
}

.link-icons {
  border: 1px solid white;
  border-radius: 100px;
  padding: 5px;
}
#twitter {
  background-color: white;
}
input[type="text"] {
  width: 240px;
  height: 55px;
  padding-left: 20px;
  border-radius: 100px;
  border: none;
}
#send {
  margin-left: -50px;
  margin-top: -5px;
}

#usefulLinks #person {
  margin-bottom: 20px;
  margin-top: 20px;
}
#usefulLinks span {
  padding-left: 20px;
}
#usefulLinks {
  padding-bottom: 50px;
}
#underHR .copyirght {
  font-weight: 300;
  font-size: 10px;
}
#underHR p {
  float: left;
}
#underHR #visa {
  float: right;
}

#payment img {
  padding-left: 10px;
}

@media (max-width: 600px) {
  .theMainBox {
    margin: 0;
    /* padding: 12px; */
  }
  .my-nav {
    width: 100%;
  }
  .my-nav > .my-nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .my-nav > .my-nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .my-nav > .my-nav-btn > label:hover,
  .my-nav #my-nav-check:checked ~ .my-nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .my-nav > .my-nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #100075;
  }
  .my-nav > .my-nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  #theLogo {
    padding: 20px 0 10px 0;
    margin-left: 30%;
  }
  .my-nav-links .formBtn {
    text-align: center;
  }
  .my-nav > .my-nav-links > a {
    display: block;
    width: 100%;
    color: #100075;
  }
  .my-nav > #my-nav-check:not(:checked) ~ .my-nav-links {
    height: 0px;
  }
  .my-nav > #my-nav-check:checked ~ .my-nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
